.fundobernardo {
    background-color: #606060;
}

.Curriculo {
    width: 50px;
}

.minhafonte {
    font-size: 1.5rem;
}



.titulo {
    text-align: center;
}

h1 p{
    text-decoration-color: #BFBFBF;
}

.ftr {
   color: black;
}