.fundobernardo {
    background-color: #bb0b0b;
}

.fotosshop {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.Curriculo {
    width: 50px;
    border-radius: 20px;
}

.minhafonte {
    font-size: 1.5rem;
}

.h2photoshop {
    text-align: center;
}

.titulo {
    text-align: center;
}

h1 p{
    text-decoration-color: #BFBFBF;
}

.ftr {
   color: black;
   
}

.meusobre{
    margin-top: 20px;
    text-align: center;
}

.meuimg{
    border-radius: 15px;
}

.card-body {
    max-width: auto;
    max-height: 500px;
    
}

.alinhar{
    display: flex;
    align-items: center;
    max-width: 100%;
    
}


.alinhar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.5); 
    border-style: outset;
  }
  
  .video-container video,
  .video-container iframe {
    width: 100%;
    height: auto;
    display: block;
  }

  .justificar{
    text-align: justify;
  }

  .col1{
    margin-top: 30px;
    border: 5px solid #3c3c3c;
    border-radius: 5px;
    border-style: outset;
}

.cor {
    font-size: small;
    color: #c42525;
}

.textofooter {
    text-align: center;
    font-size: 2em;
    color: #000000;
}

.gitlinkdirecionamento {
    color: #4c00ff;
}


.gallery-item {
    cursor: pointer; /* Adiciona o cursor de mão para indicar que é clicável */
    border-radius: 20px; /* Bordas arredondadas de 20px */
    overflow: hidden; /* Garante que a imagem e o texto sigam o border-radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Efeito suave */
}

.gallery-item img {
    height: 200px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer .importante*/
    transition: transform 0.3s ease-in-out; /* Efeito suave na imagem */
}

.gallery-item:hover {
    transform: translateY(-5px) scale(1.02); /* Efeito de "subir" e "aumentar" */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra mais forte no hover */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Zoom suave na imagem ao passar o mouse */
}

.image-text {
    background-color: #3c3c3c;
}

.image-text p {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Ajustes no Modal para o visual da galeria */
.modal-content {
    border-radius: 15px; /* Bordas arredondadas no modal */
}

.modal-header .btn-close {
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

 /* <code></code> deixa o texto como se fosse um código. 

 

 

